body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* accounts for the mobile sidebar */
/* TODO: this might end up needing to be dynamic if the bar ends up shrinking on scroll */
@media screen and (max-width: 719.9px) {
  body {
    padding-top: 160px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;

  /* default font */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #757575;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: 600;
  color: #000;
  margin: 0px 0px 20px 0px;
}

h6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 19px;
  color: #4B00FF;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.ohio_map_county:hover {
  fill: #4B00FF;
}

.ohio_map_county_tooltip {
  color: #fff;
}

/* overriding material-ui the cheap and easy way */
.MuiChip-deleteIcon {
  color: #757575 !important;
}